
@{
    ViewBag.Title = "Index";
}

<h2>Lista dos melhores alunos</h2>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Bolsa</th>
            <th>Desconto</th>
            <th>Data Nascimento</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>